body {
    font-family: Arial;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 30px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: #222;
    padding: 20px;
    border-radius: 12px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    background: #ff0050;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #e60046;
}

#result {
    margin-top: 20px;
}